*{
    margin: 0!important; 
  }
@import url('https://fonts.googleapis.com/css2?family=Lunasima:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
header .navbar-nav{
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
header .navbar-nav .nav-link{
    margin: 0px 0 0 70px !important;
    font-family: "Lunasima", sans-serif;
    font-size: 20px; 
    color: rgb(255, 255, 255);
  }
header .navbar-nav .nav-link:hover{
    color: #fcabff;
    cursor: pointer;
  }

.nav-link::selection{
    color: blueviolet;
  }
  
header img{
    margin: -10px 30px -10px 25px !important;
  }
  
  






body{
    background-image: url(imagenes/7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bla{
    margin: 55px 0 0 0 !important;
    color: rgb(255, 255, 255);
}
h4{
    display: flex;
    align-items: center;
    justify-content: center; 

}

.etiquetas{
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 15px 0px 0px 120px !important;
    color:rgb(255, 255, 255)

}

.imagen{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px 0px 0px 85px !important;
}

.estrellas{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 0px 80px !important;
}

h5{
   margin: 40px 0 10px 0 !important; 
}
.centro{
    margin: 45px 140px 0px 80px !important;
    color: rgb(255, 255, 255);
}

.frase{
    font-family: 'Sriracha', cursive;
    font-size: 20px;
    color: rgb(243, 243, 243);
    margin: 80px 80px 0px 80px !important;
}

footer{
    color: rgb(255, 255, 255);
}

.spotify{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px 0px 90px 0px !important;
}